a, a:active, a:link, a:visited {
	color: var(--a-color);
}
a:focus, a:hover {
	color: var(--a-color-hover);
}
body, html {
	height: 100%;
	margin: 0;
	width: 100%;
}
body {
	--a-color: #9132a6;
	--a-color-hover: #1ebbd1;
	--a-color-hover: #1ebbd1;
	--padding-vertical: .75rem;
	font-family: sans-serif;
}
body * {
	box-sizing: border-box;
}
fieldset {
	border: none;
	margin-bottom: .5em;
	padding: 0;
}
h1 {
	margin: .25em var(--padding-vertical);
}
h2 {
	font-size: 1.4em;
	margin: .5rem .5rem;
	z-index: 1;
}
h2 span {
	background-color: transparent;
	box-decoration-break: clone;
	box-shadow: 0.5rem 0 0 transparent, -0.5rem 0 0 transparent;
	color: #000;
	display: inline;
	padding: 0 .25rem;
	transition: background-color ease-in-out .5s, color ease-in-out .5s;
}
input[type=number], input[type=text] {
	width: 100%;
}
main {
	display: flex;
	flex: 1;
	overflow: hidden;
}
main > div {
	display: flex;
	flex: 1;
}
.aside-arrowback {
	text-decoration: none;
}
.aside-arrowback img {
	margin-bottom: -2px;
	width: 1em;
}
.aside-header {
	background-color: #f4f4f4;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	position: relative;
}
.aside-page {
	padding-bottom: .75rem;
	padding-top: .75rem;
}
.aside-main {
	flex: 1;
}
.aside-main *[data-page] {
	display: none;
}
.aside-main *[data-page].visible {
	display: block;
}
.button {
	background: #9132a6;
	border: none;
	color: white;
	cursor: pointer;
	font-family: sans-serif;
	font-size: 1.2em;
	padding: .6em 1.2em;
	transition: background .25s ease-in-out;
	width: 100%;
}
.button:hover {
	background: #1ebbd1;
}
.button:disabled {
	cursor: not-allowed;
	background-color: #888;
}
.content-padding {
    padding-left: var(--padding-vertical);
    padding-right: var(--padding-vertical);
}
.leaflet-bar {
	--a-color: #000;
	--a-color-hover: #000
}
.leaflet-bar a:hover {
    background-color: #9132a6;
}
.leaflet-bar input {
	background: transparent;
	border: none;
	padding: 0 5px;
	position: relative;
	top: -8px;
}
.leaflet-bar a, .leaflet-bar a span {
	transition: background-color ease-in-out .25s, opacity ease-in-out .25s;
}
.leaflet-bar a, .leaflet-bar a:hover {
    width: 30px;
    height: 30px;
}
.leaflet-bar a.working {
	animation: pulse 1.5s infinite;
}
@keyframes pulse {
	0% {
		background-color: #fff;
	}
	50% {
		background-color: #bceef6;
	}
	100% {
		background-color: #fff;
	}
}
.leaflet-bar a.blocked {
	background-color: #fad1d5;
}
.leaflet-bar a:first-child {
    border-radius: 0 !important;
}
.leaflet-bar:first-child a:first-child {
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}
.leaflet-bar:last-child a:last-child {
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}
.leaflet-control-disabled {
	background-color: #eee !important;
}
.leaflet-bar a.blocked span, .leaflet-control-disabled span {
	opacity: .4;
}
.leaflet-control-expandable {
	background-color: #eee;
}
.leaflet-control-expandable .leaflet-control-expandable-row {
	transition: max-width ease-in-out .4s;
	max-width: 30px;
	width: auto;
}
.leaflet-control-expandable:hover .leaflet-control-expandable-row ,
.leaflet-control-expandable.open .leaflet-control-expandable-row {
	max-width: 35em;
}
.leaflet-control-expandable-label {
	display: inline-block !important;
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
	position: relative;
	top: -10px;
}
.leaflet-control-expandable-row {
	height: 30px;
	overflow: hidden;
	white-space: nowrap;
}
.leaflet-control-expandable-row a {
	display: inline-block !important;
}
.leaflet-control-image {
	height: 30px;
    width: 30px;
}
.leaflet-control-image span {
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 20px;
	display: inline-block;
	filter: grayscale(100%);
	height: 100%;
	width: 100%;
}
.leaflet-touch .leaflet-bar {
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.leaflet-touch .leaflet-bar > div:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.leaflet-touch .leaflet-bar > div:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.leaflet-touch .leaflet-bar > div:last-child a {
	border-bottom: none;
}
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
	border: none;
}
/* Source: https://codepen.io/juanialt/pen/JKkpwZ */
.loadingindicator {
	animation: start 0.3s ease-in;
	overflow: hidden;
	position: relative;
}
.loadingindicator:before, .loadingindicator:after {
	background: rgba(0,0,0,.1);
	bottom: 0;
	content: "";
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	transition: opacity ease-in-out .25s, transform linear 0.2s;
	top: 0;
	width: 100%;
	z-index: 5;
}
.loadingindicator.loading:before, .loadingindicator.loading:after {
	opacity: 1;
	transition: opacity ease-in-out .1s, transform linear 0.2s;
}
.loadingindicator:before {
	animation: growBar1 2.5s infinite, moveBar1 2.5s infinite;
}
.loadingindicator:after {
	animation: growBar2 2.5s infinite, moveBar2 2.5s infinite;
}
@keyframes growBar1 {
	0% {
		animation-timing-function: linear;
		transform: scaleX(0.1);
	}
	36.6% {
		animation-timing-function: cubic-bezier(0.33473, 0.12482, 0.78584, 1);
		transform: scaleX(0.1);
	}
	69.15% {
		animation-timing-function: cubic-bezier(0.22573, 0, 0.23365, 1.37098);
		transform: scaleX(0.83);
	}
	100% {
		transform: scaleX(0.1);
	}
}
@keyframes moveBar1 {
	0% {
		animation-timing-function: linear;
		left: -105.16667%;
	}
	20% {
		animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582);
		left: -105.16667%;
	}
	69.15% {
		animation-timing-function: cubic-bezier(0.30244, 0.38135, 0.55, 0.95635);
		left: 21.5%;
	}
	100% {
		left: 95.44444%;
	}
}
@keyframes growBar2 {
	0% {
		animation-timing-function: cubic-bezier(0.20503, 0.05705, 0.57661, 0.45397);
		transform: scaleX(0.1);
	}
	19.15% {
		animation-timing-function: cubic-bezier(0.15231, 0.19643, 0.64837, 1.00432);
		transform: scaleX(0.57);
	}
	44.15% {
		animation-timing-function: cubic-bezier(0.25776, -0.00316, 0.21176, 1.38179);
		transform: scaleX(0.91);
	}
	100% {
		transform: scaleX(0.1);
	}
}
@keyframes moveBar2 {
	0% {
		animation-timing-function: cubic-bezier(0.15, 0, 0.51506, 0.40968);
		left: -54.88889%;
	}
	25% {
		animation-timing-function: cubic-bezier(0.31033, 0.28406, 0.8, 0.73372);
		left: -17.25%;
	}
	48.35% {
		animation-timing-function: cubic-bezier(0.4, 0.62703, 0.6, 0.90203);
		left: 29.5%;
	}
	100% {
		left: 117.38889%;
	}
}
#content {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
	position: absolute;
	width: 100%;
}
#errormsg-wrapper {
	max-height: 0;
	overflow-y: hidden;
	transition: max-height ease-in-out .25s;
}
#errormsg-wrapper li {
	background: #f18d96;
	padding: .25em var(--padding-vertical);
}
#errormsg-wrapper ul {
	margin: 0;
	padding: 0;
}
#errormsg-wrapper.visible {
	max-height: 5em;
	overflow-y: unset;
}
#footer-attribution {
	margin-top: .4em;
}
#footer-attribution img {
	margin-bottom: -4px;
}
#footer {
	background-color: #222;
	color: #fff;
	padding: .5em var(--padding-vertical);
	--a-color: #ccc;
	--a-color-hover: #eee;
}
#header-main {
	background: #9132a6;
	color: #fff;
}
#item-aside {
	border-right: #ddd solid 1px;
	display: flex;
	flex-direction: column;
	overflow-x: auto;
	overflow-y: auto;
	resize: horizontal;
	width: 30%;
	max-width: 50%;
	min-width: 20%;
}
#item-header.loading #item-loadingindicator-wrapper {
	height: 1.75em;
}
#item-loadingindicator {
	padding: .25em var(--padding-vertical);
}
#item-loadingindicator span:not(:first-child) {
	margin-left: .2em;
}
#item-loadingindicator-wrapper {
	background-color: rgba(0,0,0,.05);
	height: 0;
	overflow-y: hidden;
	transition: height ease-in-out .25s;
}
#map {
	flex: 1;
}
@media screen and (max-width: 800px) {
	body {
		font-size: .8em;
		--padding-vertical: .25rem;
	}
	h1 {
		font-size: 1.5em;
		margin: .15em var(--padding-vertical);
	}
	h2 {
		font-size: 1.2em;
		margin: .15em .1rem;
	}
	h2 span {
		padding: 0 .15rem;
	}
	main {
		flex-direction: column;
		overflow: visible;
	}
	#item-aside {
		border: none;
		height: auto;
		order: 2;
		overflow: visible;
		width: unset;
		max-width: unset;
		min-width: unset;
	}
	#content {
		overflow: auto;
	}
	#map-wrapper {
		min-height: 65%;
		order: 1;
		overflow: visible;
		resize: vertical;
	}
}